# Node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build directories
build/
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/
app-example

# Android
/android/
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# IDEs and Editors
.vscode/
.idea/
*.iml
*.ipr
*.iws
.atom/
.history
.svn/
.swiftpm/
*.class
*.pyc
*.swp

# macOS
.DS_Store
*.pem

# Env files
.env*.local

# TypeScript
*.tsbuildinfo

# Miscellaneous
app.*.symbols
app.*.map.json
migrate_working_dir/
.build/
.buildlog/
